# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local
build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Alibaba Cloud credentials
.alibabacloud
alicloud.config.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Temporary files
.temp
.tmp

# Deployment files
deploy.sh
deploy.config.js
